/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-awesome-blocks-collapsible-text {
	.am-collapsible-btn {
		background: none;
		border: none;
		font-size: 16px;
		margin: 0;
		padding: 0;
	}
	.am-collapsible-btn, .am-link {
		text-align: left;
	}
}
